@import "settings/foundation";
@import "settings/mystyle.scss";
@import "components/asciidoc";
@import "components/awesome-icons";

body {
  font-family: "Helvetica Neue","Helvetica","Hiragino Sans GB","STHeiti","Microsoft YaHei","WenQuanYi Micro Hei",SimSun,Arial,sans-serif;
}

.qanda em {
  font-style: normal;
  font-size: 1.2em;
}

.qanda li p {
  margin-bottom: 1.2em;
}

.qanda li {
  margin-bottom: 1.5em;
}

span.answer {
  font-weight: bold;
  font-size: 1.1em;
}

.sectionbody .sect2 h3 {
  margin-bottom: 1em;
}

a.button {
  font-size: 1em;
}

.button.hide_all {
  margin-left: 0;
}

p.tableblock {
  white-space: nowrap;
  overflow: auto;
}

p.tableblock a {
  font-size: 1.2em;
}

table {
  table-layout: fixed;
  margin-bottom: 2em;
}

table.tableblock.grid-all {
  border-color: #e5e5e5 #dbdbdb #d2d2d2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

tbody {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: url(./images/table_bg.png);
}

table tr {
  background: rgba(234,239,242,0.5);
}

table tr:nth-of-type(even) {
  background: rgba(234,239,242,0.1);
}
	
.button {
  color: #fff; padding: 3px 7px 6px 5px; background-color: #bc1815; border: none; margin-left: 10px; position: relative;;
  -webkit-user-select: none;
  -webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.button:active { 
  position: relative; top: 3px;
  -webkit-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
}
.button:active:after { content: ""; width: 100%; height: 3px; background: #fff; position: absolute; bottom: -1px; left: 0; }
  
.button.blue { background: #22C3EB; }
.button.green { background: #67b600; }
.button.orange { background: #da8a00; }
.button.yellow { background: #b3a400; }
.button.turquoise { background: #00b1af; }

.button:hover { color: #eee; }
