@import "settings/foundation";
@import "settings/mystyle.scss";
@import "components/asciidoc";
@import "components/awesome-icons";

body {
  font-family: "Helvetica Neue","Helvetica","Hiragino Sans GB","STHeiti","Microsoft YaHei","WenQuanYi Micro Hei",SimSun,Arial,sans-serif;
}

.qanda em {
  font-style: normal;
  font-size: 1.1em;
}

.qanda li {
  margin-bottom: 1.2em;
}
	
.button {
  color: #fff; padding: 4px 8px 8px; background-color: #bc1815; border: none; margin-right: 15px; position: relative;;
  -webkit-user-select: none;
  -webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.button:active { 
  position: relative; top: 3px;
  -webkit-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
}
.button:active:after { content: ""; width: 100%; height: 3px; background: #fff; position: absolute; bottom: -1px; left: 0; }
  
.button.blue { background: #22C3EB; }
.button.green { background: #67b600; }
.button.orange { background: #da8a00; }
.button.yellow { background: #b3a400; }
.button.turquoise { background: #00b1af; }

.button:hover { color: #eee; }
